
<nav class="navbar navbar-expand-lg ">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <a href="/" class="d-flex align-items-center   mb-lg-0 me-lg-auto  text-decoration-none">
            <img src="assets/images/Group 3.png" alt="Group Image" class="img-fluid mt-3 mb-1" width="253px" height="50.69px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item ms-2 ">
                    <a class="nav-link info  " href="#">Ana səhifə</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link info " href="#">Haqqımızda</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link info " href="#">Tarif</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link info" href="#">Xidmətlər</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link info " href="#">Mağazalar</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link info" href="#">Əlaqə</a>
                </li>

            </ul>
        </div>
    </div>

</nav>