<!-- <nav class="navbar navbar-expand-lg navbar-light danger ">
    <a class="navbar-brand" href="#">
        <img src="assets/images/Group 3.png" alt="Group 3 Image" class="img-fluid" width="253px" height="50.69px">
    </a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item  ">
                <a class="nav-link info " href="#">Ana səhifə</a>
            </li>
            <li class="nav-item">
                <a class="nav-link info " href="#">Haqqımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link info" href="#">Tarif</a>
            </li>
            <li class="nav-item">
                <a class="nav-link info" href="#">Xidmətlər</a>
            </li>
            <li class="nav-item">
                <a class="nav-link info" href="#">Mağazalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link info" href="#">Əlaqə</a>
            </li>

        </ul>
    
</nav> -->

<!-- <header style="height: 98px;">
    <div class="container d-flex flex-wrap justify-content-center ">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            
           <img src="assets/images/Group 3.png" alt="Group Image" >
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header> -->


<nav class="navbar navbar-expand-lg ">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <a href="/" class="d-flex align-items-center   mb-lg-0 me-lg-auto  text-decoration-none">
            <img src="assets/images/Group 3.png" alt="Group Image" class="img-fluid mt-3 mb-1" width="253px" height="50.69px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item  ">
                    <a class="nav-link info " href="#">Ana səhifə</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link info " href="#">Haqqımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link info" href="#">Tarif</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link info" href="#">Xidmətlər</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link info" href="#">Mağazalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link info" href="#">Əlaqə</a>
                </li>

            </ul>
        </div>
    </div>

</nav>