<div class="card card-height-100">
    <div class="card-body">
        <p class="heading  my-3 mx-4">Xaricdəki Ünvanım</p>
        <form action="#" class="py-3 px-5 m-0">
            <div class="row g-3">
                <div class="col-sm-3 copy_div  pb-3 px-2">
                    <label for="Tam Adı" class="form-label">Tam Adı</label>
                    <input type="text" class="form-control custom-input" value="John Doe">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-9 copy_div  pb-3 px-2">
                    <label for="Ünvan" class="form-label">Ünvan</label>
                    <input type="text" class="form-control" value="AZ100001, Alibeykoy Mah. Ataturk Cd. No:135 / 2">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4 copy_div  pb-3 px-2">
                    <label for="Rayon" class="form-label">Rayon</label>
                    <input type="text" class="form-control" value="Eyüpsultan">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4 copy_div   pb-3 px-2">
                    <label for="Məhəllə" class="form-label">Məhəllə</label>
                    <input type="text" class="form-control" value="Alibeyköy Mah.">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>

                <div class="col-sm-4   copy_div  pb-3 px-2">
                    <label for="Mobil nömrə" class="form-label">Mobil nömrə</label>
                    <input type="text" class="form-control" value="*****">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4  copy_div  pb-3 px-2">
                    <label for="şəhər" class="form-label">şəhər</label>
                    <input type="text" class="form-control" value="Istanbul">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4  copy_div  pb-3 px-2">
                    <label for="Poçt Kodu" class="form-label">Poçt Kodu</label>
                    <input type="number" class="form-control" value="34060">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4  copy_div  pb-3 px-2">
                    <label for="Vergi Nömrəsi" class="form-label">Vergi Nömrəsi</label>
                    <input type="number" class="form-control" value="28135930832">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4  copy_div  pb-3 px-2">
                    <label for="Şirkət Adı" class="form-label">Şirkət Adı</label>
                    <input type="text" class="form-control" value="AzPost Cargo">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
                <div class="col-sm-4  copy_div  pb-3 px-2">
                    <label for="Teslim Alan kisi" class="form-label">Teslim Alan kisi</label>
                    <input type="text" class="form-control" value="Azerpost LLC">
                    <img src="assets/images/copy 1.png" alt="Copy Image" class="img-fluid copy" width="20px"
                        height="20px">
                </div>
            </div>
        </form>



    </div>

</div>